
<%- include('header') %>
<body style="background-color: darkslategrey;">


  <div style="position:absolute;width: 200px; height: 150px; left: 0; top: 0; right: 0; bottom: 0; margin: auto;">
    <div class="home_ios" style="cursor: pointer; background-color: rgba(0,255,255, 0.1); border-radius: 10px; height: 55px; ;text-align: center; line-height: 55px; margin-bottom: 20px">
      <%= plats[0] %>
    </div>
    <div class="home_andriod" style="cursor: pointer; background-color: rgba(0,255,255, 0.1); border-radius: 10px; height: 55px; text-align: center; line-height: 55px; margin-top: 20px;">
        <%= plats[1] %>
    </div>
  </div>

</body>
</html>