
<%- include('header') %>
<body style="background-color: darkslategrey; margin-left: 30px; margin-right: 30px; margin-top: 20px; margin-bottom: 20px;">

  <%- include('components/nav') %>
  <div class="main">
    <div class="ui grid">
      <div class="three wide column">
        <%- include('components/leftside') %>
      </div>
      <div class="one wide column">
      </div>
      <div class="twelve wide column">
        <%- include('components/content') %>
      </div>
    </div>
  </div>

  <div id="code" style="position: fixed; bottom: 30px;">
  
  </div>

</body>
</html>